<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>应用列表</title>
<link rel="stylesheet" href="/css/base.css">
</head>
<body>
  <% if (typeof message === "string") { %>
  <h3>执行结果：</h3>
  <pre style="width:750px; margin:auto;"><%= message %></pre>
  <hr>
  <% } %>
  <table width="750" align="center">
    <tr>
      <td width="110" class="table-header">上传应用</td>
      <td>
        <form id="form_upload" method="POST" enctype="multipart/form-data">
          <input name="op" value="upload" type="hidden">
          <input type="file" name="upload">
          <input type="submit" name="quick_install" value="快速部署">
          <input type="submit" value="上传">
        </form>
      </td>
    </tr>
  </table>
  <br>
  <table width="750" align="center">
    <tr class="table-header">
      <td width="110">应用名称</td>
      <td>目录</td>
      <td width="50">加载</td>
      <td width="260">操作</td>
    </tr>
    <% var num = 0; for (var i in app) { num++; %>
    <tr class="app-<%=num %> loaded-<%= app[i].loaded %> act-<%= app[i].loadact %>">
      <td><span class="app-name"><%= app[i].name %></span></td>
      <td><span class="app-path"><%= app[i].path %></span></td>
      <td><span class="app-loaded">
        <button onclick="<%= app[i].loadact %>('app-<%=num %>')"><%= app[i].loadactTitle %></button>
      </span></td>
      <td><span class="app-op">
          <a href="/page/app_info?path=<%= app[i].path %>&name=<%= app[i].name %>">详细信息</a>
        </span>
        <button onclick="updateRoute('app-<%=num %>')">更新路由表</button>
        <button onclick="updateCompress('app-<%=num %>')">更新压缩文件</button>
      </td>
    </tr>
    <% } %>
  </table>
  <form id="form" method="POST">
    <input name="path" id="form_path" type="hidden">
    <input name="name" id="form_name" type="hidden">
    <input name="op" id="form_op" type="hidden">
  </form>
</body>
</html>
<script src="/jquery.min.js"></script>
<script>

function getAppInfo(obj) {
  obj = '.' + obj;
  var ret = {
    path: $('.app-path', $(obj)).text().trim(),
    name: $('.app-name', $(obj)).text().trim()
  }
  return ret;
}

function loadApp(obj) {
  var path = getAppInfo(obj).path;
  var name = getAppInfo(obj).name;
  $('#form_path').val(path);
  $('#form_name').val(name);
  $('#form_op').val('load');
  $('#form').submit();
}

function unloadApp(obj) {
  var path = getAppInfo(obj).path;
  var name = getAppInfo(obj).name;
  $('#form_path').val(path);
  $('#form_name').val(name);
  $('#form_op').val('unload');
  $('#form').submit();
}

function unzipApp(obj) {
  var path = getAppInfo(obj).path;
  var name = getAppInfo(obj).name;
  $('#form_path').val(path);
  $('#form_name').val(name);
  $('#form_op').val('unzip');
  $('#form').submit();
}

function updateRoute(obj) {
  var path = getAppInfo(obj).path;
  var name = getAppInfo(obj).name;
  $('#form_path').val(path);
  $('#form_op').val('update_route');
  $('#form').submit();
}

function updateCompress(obj) {
  var path = getAppInfo(obj).path;
  var name = getAppInfo(obj).name;
  $('#form_path').val(path);
  $('#form_op').val('update_compress');
  $('#form').submit();
}

</script>