<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>请求状态</title>
<link rel="stylesheet" href="/css/base.css">
</head>
<body>

  <table width="750" align="center">
    <tr class="table-header">
      <td width="25%">当前活动连接</td>
      <td width="25%">请求数量</td>
      <td width="25%">已处理数量</td>
      <td>无法处理数量</td>
    </tr>
    <tr>
      <td><%= status.connection %></td>
      <td><%= status.request %></td>
      <td><%= status.response %></td>
      <td><%= status.error %></td>
    </tr>
  </table>
  <div id="status_line"></div>
  
</body>
</html>
<script src="/jscharts.js"></script>
<script src="/base.js"></script>
<script>
// 画请求统计图
var drawStatusLine = function () {
  // 初始化
  var myChart = new JSChart('status_line', 'line');
  myChart.setSize(750, 300);
  myChart.setTitle('请求统计');
  myChart.setTitleColor('#7D7D7D');
  myChart.setAxisColor('#9F0505');
  myChart.setGridColor('#a4a4a4');
  myChart.setAxisValuesColor('#333639');
  myChart.setAxisNameColor('#333639');
  myChart.setTextPaddingLeft(0);
 
  // 各个进程曲线
  var data = window._data_status = JSON.parse('<%- history %>');
  var sreq = [], sres = [], serr = [], sconn = [];
  for (var i in data) {
    // 刻度
    var label = timePassStr(data[i].timestamp);
    sreq.push([label, data[i].request]);      // 请求数
    sres.push([label, data[i].response]);     // 响应数
    serr.push([label, data[i].error]);        // 出错数
    sconn.push([label, data[i].connection]);  // 活动连接数
  }
  // 请求数量
  myChart.setDataArray(sreq, 'request');
  myChart.setLineColor('#004024', 'request');
  myChart.setLineWidth(2, 'request');
  // 响应数量
  myChart.setDataArray(sres, 'response');
  myChart.setLineColor('#00A01E', 'response');
  myChart.setLineWidth(2, 'response');
  // 无法响应数量
  myChart.setDataArray(serr, 'error');
  myChart.setLineColor('#FF2438', 'error');
  myChart.setLineWidth(3, 'error');
  // 活动连接数
  myChart.setDataArray(sconn, 'connection');
  myChart.setLineColor('#FFF814', 'connection');
  myChart.setLineWidth(3, 'connection');
  
  // X轴
  myChart.setAxisNameX('History');
  //myChart.setAxisAlignFirstX(true);
  myChart.setGraphExtend(true);
  // Y轴
  myChart.setAxisNameY('N');
  
  // 绘制
  myChart.setLegendShow(true);
  
  myChart.draw();
  window._status_chart = myChart;
}

drawStatusLine();
</script>
