<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>QuickWeb配置</title>
<link rel="stylesheet" href="/css/base.css">
</head>
<body>

  <table width="750" align="center">
    <tr class="table-header">
      <td colspan="2">
        <div style="text-align: center">QuickWeb配置</div>
      </td>
    </tr>
    <tr>
      <td width="200">启动进程数量</td>
      <td><%= config.cluster %></td>
    </tr>
    <tr>
      <td>服务器端口</td>
      <td><%= config["listen http"] %></td>
    </tr>
    <tr>
      <td>管理服务器</td>
      <td><%= (config.master.host + ":" + config.master.port) %></td>
    </tr>
    <tr>
      <td>管理服务器账户</td>
      <td><%= (config.master.admin) %></td>
    </tr>
    <tr>
      <td>onRequest插件</td>
      <td><%= (typeof config.onRequest === "function" ? "有" : "无") %></td>
    </tr>
    <tr>
      <td>onExtend插件</td>
      <td><%= (typeof config.onExtend === "function" ? "有" : "无") %></td>
    </tr>
    <tr>
      <td>更新请求统计周期</td>
      <td><%= config["status update"]["connector"] %> ms</td>
    </tr>
    <tr>
      <td>更新系统资源占用周期</td>
      <td><%= config["status update"]["load line"] %> ms</td>
    </tr>
    <tr>
      <td>系统资源占用数据数量</td>
      <td><%= config["status update"]["load line size"] %></td>
    </tr>
    <tr>
      <td>记录进程异常信息数量</td>
      <td><%= config["exception log size"] %></td>
    </tr>
  </table>
  <br>
  <table width="750" align="center">
    <tr class="table-header">
      <td colspan="3">
        <div style="text-align: center">在线管理员</div>
      </td>
    </tr>
    <tr class="table-header">
      <td width="120">IP地址</td>
      <td width="300">最后活动时间</td>
      <td>请求的URL</td>
    </tr>
    <% for (var ip in online) { var admin = online[ip]; %>
    <tr>
      <td><%= ip %></td>
      <td><span class="timestamp"><%= admin.timestamp %></span></td>
      <td><a href="<%= admin.url %>"><%= admin.url %></a></td>
    </tr>
    <% } %>
  </table>
</body>
</html>
