<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>进程列表</title>
<link rel="stylesheet" href="/css/base.css">
</head>
<body>
  <table width="300" align="center">
    <tr class="table-header">
      <td width="110">PID</td>
      <td>操作 <button onclick="forkWorker()">增加进程</button></td>
    </tr>
    <% for (var i in worker) { %>
    <tr>
      <td><span class="worker-pid"><%= worker[i] %></span></td>
      <td><span class="worker-op"><button onclick="killWorker(<%= worker[i] %>)">结束</button></span></td>
    </tr>
    <% } %>
  </table>
  <form id="form" method="POST">
    <input name="pid" id="form_pid" type="hidden">
    <input name="op" id="form_op" type="hidden">
  </form>
</body>
</html>
<script src="/jquery.min.js"></script>
<script>
function killWorker(pid) {
  $('#form_pid').val(pid);
  $('#form_op').val('kill');
  $('#form').submit();
}

function forkWorker() {
  $('#form_op').val('fork');
  $('#form').submit();
}
</script>